<div id="LightBox" class="lightboxOverlay">
    <div id="ConditionsOfParticipation" class="lightboxContent"></div>
    <div id="Privacy" class="lightboxContent"></div>
    <div id="LandingVideo" class="lightboxContent"></div>
</div>