<div class="footer">
    <a href="http://www.maybelline.com.tr/" target="_blank" data-ga="footer-click-maybelline" class="maybellineLogo"></a>
    <div class="footerLine"></div>
    <div class="footerNavigation">
        <a href="#" onclick="OpenConditions(); return false;" data-ga="footer-click-conditions">KULLANIM KOŞULLARI</a>
        <a href="#" onclick="OpenPrivacy(); return false;" data-ga="footer-click-privacy">GİZLİLİK</a>
        <a href="http://www.maybelline.com.tr/Urunler/dudak/lip-balm/baby-lips.aspx" data-ga="footer-explore-babylips" target="_blank">BABY LIPS'İ KEŞFET</a>
        <a href="http://www.boyner.com.tr/maybelline.aspx?ProductCategoryId=100000262" data-ga="footer-buy-babylips" target="_blank">SATIN AL</a>
    </div>
    <div class="footerSocialContainer">
        <a href="https://www.facebook.com/maybellinenyturkiye" target="_blank" class="footerSocialFB" data-ga="footer-sm-facebook">Facebook</a>
        <a href="http://instagram.com/MaybellineNYTurkiye" target="_blank" class="footerSocialIns" data-ga="footer-sm-instagram">Instagram</a>
    </div>
</div>
