<header>

    <aside class="wrapper">

        <figure class="logo"><a href="~/">Babylips</a></figure>        

        @Html.Partial("UserLogonArea")

        <nav>
            <a class="nasil-oynanir" href="~/nasil-oynanir">Nasıl Oynanır?</a>
            <a class="oduller" href="~/oduller">Ödüller</a>
            <a class="muziklerim" href="~/muziklerim">Müziklerim</a>
        </nav>

    </aside>

</header>