<div id="BabyLipsSurvey" class="surveyContent">
    <a href="#" onclick="survey('close')" class="closeLightBox"></a>
    <div class="surveyImage"></div>
    <a class="btnYes" onclick="survey('yes')">Evet</a> <a class="btnNo" onclick="survey('no')">Hayır</a>
    <div class="clear"></div>
</div>

